body{
    background-color: greenyellow;
}

p{
    font-size: 45px;
    color: blue;
}

h1{
    color: crimson;
}

h2{
    color: blueviolet;
}

h3{
    color: black;
}

.maDiv{
    width: 600px;
    height: 500px;
    background-color: black;
}

td, th{
    border: 2px solid black;
    padding: 10px;
    background-color: gray;
    color: white;
    font-family: monospace;
    font-weight: 500;
    font-size: 25px;
}

/* COMMENTAIRE DANS LE CSS */

table{
    border-collapse: collapse;
    margin-top: 50px;
}

tr{
    text-align: center;
}